// variable
$background-gradient-1: linear-gradient(to right, #eb3349 0%, #f45c43 51%, #eb3349 100%);
$background-gradient-2: linear-gradient(to right, #ff8008 0%, #ffc837 51%, #ff8008 100%);
// mixin
@mixin buttonProducts($color-bg) {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    background-image: $color-bg;
    border-radius: 5px;
    padding: 10px 25px;
    background-size: 200% auto;
    transition: 0.3s;
    margin: 10px 0;
    // border: 1px black solid;
    &:hover {
        background-position: right center;
    }
}

.container {
    width: 90% !important;
    margin: 0 auto !important;
}
header {
    // position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .navbar-brand {
        font-size: 32px !important;
        color: #fff !important;
        font-weight: bold;
    }
    #navbar-cart {
        a {
            font-size: 20px;
            color: #fff;
            i {
                padding-right: 20px;
            }
        }
    }
}

.banner {
    .banner_content {
        position: relative;
        background-position: bottom;
        img {
            width: 100%;
        }
        .banner_desc {
            color: #640d5f;
            position: absolute;
            top: 30%;
            left: 10%;
            h2 {
                font-size: 52px;
            }
            p {
                font-size: 18px;
                margin: 20px 0;
            }
            button {
                color: #fff;
                font-weight: bold;
                background-image: $background-gradient-1;
                background-size: 200% auto;
                padding: 15px 35px;
                margin: 20px 0;
                border-radius: 12px;
                transition: 0.3s;
                &:hover {
                    background-position: right center;
                }
            }
        }
    }
}

.products {
    background-color: rgba(255, 255, 255, 0.8);
    .card {
        border-radius: 15px;
        img {
            margin: 50px auto;
        }
        .buttonCard {
            button:first-child {
                @include buttonProducts($background-gradient-1);
            }
            button:nth-child(2) {
                @include buttonProducts($background-gradient-2);
            }
        }
    }
}
