.container{
    width: 80%;
    margin: 0 auto;
}
.hidden{
    display:none;
}
/* Phần nền mờ phía ngoài của modal */
.modal-overlay {
    display: none; /* Mặc định ẩn */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    z-index: 49; /* Đặt thấp hơn modal */
}

/* Modal container */
#defaultModal {
    display: none; /* Mặc định ẩn */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50; /* Đặt cao hơn overlay */
}

/* Modal content */
#defaultModal .relative {
    width: 100%;
    max-width: 2xl; /* Thay đổi kích thước tối đa nếu cần */
    background-color: #fff; /* Màu nền của modal */
    border-radius: 0.5rem; /* Làm tròn góc */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

/* Hiện modal và overlay khi có lớp 'show' */
#defaultModal.show,
.modal-overlay.show {
    display: block;
}
